config:
  vectorstore_config:
    filepaths: data/nvidia_10k_filing.txt
  custom_config:
    topics:
      - Nvidia's financial performance
      - Nvidia 10-K filing
      - news related to Nvidia and industry trends

  llm_model_config:
    creative_model:
      # google/gemini-2.0-flash-001, openai/gpt-oss-120b, x-ai/grok-4-fast
      model_name: openai/gpt-oss-20b
      temperature: 0.2
      seed: 42

    structured_output_model:
      model_name: openai/gpt-oss-20b
      temperature: 0.0
      seed: 42

    embedding_model:
      model_name: sentence-transformers/all-minilm-l12-v2
