config:
  vectorstore_config:
    filepaths: data/nvidia_10k_filing.txt
    jq_schema: ""
    format: txt
    collection: 10k_filing
    filepaths_is_glob: false
    force_recreate: false

  custom_config:
    topics:
      - Nvidia's financial performance
      - Nvidia 10-K filing
      - news related to Nvidia and industry trends
    fetch_full_page: true
    k: 5
    rerank_k: 3
    max_chars: null
    max_attempts: 3
    max_messages: 20

  llm_model_config:
    creative_model:
      model_name: openai/gpt-oss-20b
      temperature: 0.2
      seed: 42
    structured_output_model:
      model_name: openai/gpt-oss-20b
      temperature: 0
      seed: 42
    cross_encoder_model:
      model_name: cross-encoder/ms-marco-MiniLM-L-6-v2
      num_labels: null
      max_length: null
      device: cpu
    embedding_model:
      model_name: qwen/qwen3-embedding-8b

  api_config:
    title: Deep Thinking RAG
    name: "${.title}"
    description: API for the Deep Thinking RAG
    version: v1.0.0
    status: healthy
    prefix: /api/v1
    middleware:
      cors:
        allow_origins:
          - "*"
        allow_credentials: true
        allow_methods:
          - "*"
        allow_headers:
          - "*"
