config:
  vectorstore_config:
    filepaths: data/nvidia_10k_filing.txt
  custom_config:
    topics:
      - Nvidia's financial performance
      - Nvidia 10-K filing
      - news related to Nvidia and industry trends
    fetch_full_page: true
    k: 5
    max_chars: null
    max_attempts: 3

  llm_model_config:
    creative_model:
      # google/gemini-2.0-flash-001, openai/gpt-oss-120b, x-ai/grok-4-fast
      model_name: openai/gpt-oss-20b
      temperature: 0.2
      seed: 42

    structured_output_model:
      model_name: openai/gpt-oss-20b
      temperature: 0.0
      seed: 42

    cross_encoder_model:
      model_name: cross-encoder/ms-marco-MiniLM-L-6-v2

    embedding_model:
      model_name: sentence-transformers/all-minilm-l12-v2
